---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Dev SSO Test">
	<main>
		<ul role="list" class="link-card-grid">
			<a class="sso-login" href="https://dev-39684678.okta.com/app/dev-39684678_hyresnaptestdev_1/exkahzd6icOLAlsGe5d7/sso/saml">SSO Login</a>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
	.sso-login{
		background-color: rgb(255, 166, 0);
		color: white;
		border: none;
		height: 40px;
		border-radius: 10px;
		font-weight: 500;
	}
</style>
